* {
	box-sizing: border-box;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

:root {
	

}
html {
	overscroll-behavior-y: none;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
#renderCanvas {
	position: relative;
	width: auto;
	height: 100vh;
	border: 1px solid red;
}